name: Terraform Deploy

on:

  push:

    branches:

      - main

jobs:

  terraform:

    name: 'Terraform Apply'

    runs-on: ubuntu-latest

    permissions:

      id-token: write

      contents: read

    steps:

      - name: Checkout code

        uses: actions/checkout@v3

      - name: Configure AWS credentials

        uses: aws-actions/configure-aws-credentials@v4

        with:

          role-to-assume: arn:aws:iam::536270448817:role/github-access-role

          aws-region: us-east-1

      - name: Setup Terraform

        uses: hashicorp/setup-terraform@v2

        with:

          terraform_version: 1.5.7

      - name: Terraform Init

        run: terraform init

        working-directory: ./terraform

      - name: Terraform Plan

        run: terraform plan

        working-directory: ./terraform

      - name: Terraform Apply

        run: terraform apply -auto-approve

        working-directory: ./terraform
 
